.customNav{
    height: 41px !important;
}

.customNav ul li{
    border-right: 1px solid #626467;
}

.customNav ul li:hover{
    color: grey;
    background-color: grey;
}

@media screen and (max-width: 600px) {
    .customNav{
        height: 100% !important;
    }
  }