
.rightSideContent{
    height: 128px;
    margin-top: 20px;
    border-bottom: 1px dashed grey;
}
.imageSection{}
.imageSection img{
    height: 102px;
    width: 128px;
    margin-left: 10px;
    border-radius: 4px;
}

.TitleSection h5{
    font-size: 16px;
    color: #000;
    line-height: 22px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 11px;
}

.TitleSection a{
    text-decoration: none;
    color: #fff;
    /* margin-left: 98px; */
    display: inline-block;
    background: #000;
    height: 28px;
    padding: 1px 9px;
    margin-bottom: 17px;
    border-radius: 3px;
    float: right;
    margin-right: 13px;
}

