.leftSide{
      
    background-color: #fff;
    padding: 5px 0px;
    margin-top: 25px;
}

.leftSideContent{
    margin-bottom: 10px;
    /* border-bottom: 1px dotted grey;
    padding-bottom: 5px; */
}
.leftImageSection img{
    /* border-radius: 16px 15px 0px 0px; */
    height: 344px;
    width: 100%;
    margin-top: -4px;
}
.LeftTitleSection a{
    text-decoration: none;
    color: #fff;
    margin-left: 14px;
    display: inline-block;
    background: #000;
    height: 31px;
    padding: 1px 10px;
    margin-bottom: 17px;
    border-radius: 3px;
}
.LeftTitleSection h5{
    font-size: 16px;
    color: #000;
    line-height: 22px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 11px;
}