.scrollText{
    background-color: #215168;
    color: #ffffff;
    padding: 4px 0px;
    width: 95%;
    margin-top: 26px;
    /* margin: 0 auto; */
    margin-left: 44px;
}

@media screen and (max-width: 600px) {
    .scrollText{
       display: none;
    }
  }